.container.list span.description{
  display:block;
  margin-left:20px;
  font-size:14px;
}

.content{
  margin-bottom:0px;
}

img[src$='#center']
{
    display: block;
    margin: 0 auto;
    padding: 3px;
    border: 1px solid silver;
}
