<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    <br>
    <strong><i>Ljóðasmiður</i></strong><br>
    Í mörgu ég snúast mátti,  <br>
    frá morgni til sólarlags.  <br>
    Smiður sem aldrei átti,  <br>
    efni til næsta dags.  <br>
    <p>
    {{ .Site.Params.description}}
    </p>
  </div>
</section>
